#### 【 Pandas 초급 시험 】

**지시사항**
- 각 문항의 지시에 따라 코드를 작성하고, 지정된 변수명에 결과를 담으세요.
- 필요한 패키지: pandas, numpy (기본 제공)

In [ ]:
## 모듈 로딩 
import pandas as pd
import numpy as np

<hr> 1. DataFrame 기초 생성 및 속성 이해 <hr>

- 1-1: people_basic에서 DataFrame 그대로 `q1_1`에 저장하세요.
- 1-2: 컬럼명 리스트를 `q1_2_cols`, 인덱스 RangeIndex의 시작/끝을 튜플 `q1_2_index_info`로.
- 1-3: 행 수를 `q1_3_rows`, 열 수를 `q1_3_cols`에.
- 1-4: 나이 평균과 중앙값을 튜플 `(mean, median)`로 `q1_4_stats`에.
- 1-5: 나이가 30 이상인 행만 `q1_5_df`에.

In [ ]:
# === [1] DataFrame 기초 생성 및 속성 이해 ===
# 아래 변수들에 결과를 담으세요.
q1_1 = ...
q1_2_cols = ...
q1_2_index_info = ...
q1_3_rows, q1_3_cols = ..., ...
q1_4_stats = ...
q1_5_df = ...

<hr> 2. 데이터 입출력 및 컬럼/인덱스 조작 (students 사용) <hr>

- 2-1: students를 `q2_1_df`에 (이미 로드된 것을 사용).
- 2-2: 상위 5개 행을 `q2_2_head`에.
- 2-3: 컬럼명을 ['이름','국어','영어','수학']으로 변경한 DataFrame을 `q2_3_renamed`에.
- 2-4: 인덱스를 '이름'으로 설정한 DataFrame을 `q2_4_indexed`에.
- 2-5: 다시 인덱스를 초기화한 DataFrame을 `q2_5_reset`에.

In [ ]:
# === [2] 데이터 입출력 및 컬럼/인덱스 조작 ===
q2_1_df = ...
q2_2_head = ...
q2_3_renamed = ...
q2_4_indexed = ...
q2_5_reset = ...

<hr> 3. 조건 필터링과 정렬 (cars_mpg) <hr> 

- 3-1: mpg >= 30 인 행만 `q3_1_df`에.
- 3-2: manufacturer == 'audi' & year == 1999 인 행만 `q3_2_df`에.
- 3-3: horsepower 내림차순 정렬 결과를 `q3_3_sorted`에.
- 3-4: origin별 평균 mpg Series를 `q3_4_mean_mpg`에.
- 3-5: mpg 상위 5% 차량만 `q3_5_top5p`에.

In [ ]:
# === [3] 조건 필터링과 정렬 ===
q3_1_df = ...
q3_2_df = ...
q3_3_sorted = ...
q3_4_mean_mpg = ...
q3_5_top5p = ...

<hr> 4. 결측치 처리 (titanic_simple) <hr> 

- 4-1: 컬럼별 결측치 개수 Series를 `q4_1_na`에.
- 4-2: age 결측치를 평균으로 채운 DataFrame을 `q4_2_filled`에.
- 4-3: 결측치가 1개라도 있는 행 제거 DataFrame을 `q4_3_dropna`에.
- 4-4: 결측치 여부(True/False) DataFrame을 `q4_4_isna`에.
- 4-5: 처리 전후 age 평균을 튜플로 `q4_5_before_after`에.

In [ ]:
# === [4] 결측치 처리 ===
q4_1_na = ...
q4_2_filled = ...
q4_3_dropna = ...
q4_4_isna = ...
q4_5_before_after = ...

<hr> 5. 그룹화와 집계 (employees) <hr> 

- 5-1: city 대신 employees 사용: department별 평균 salary Series를 `q5_1_dept_mean`에.
- 5-2: gender별 최대 salary Series를 `q5_2_gender_max`에.
- 5-3: (department, rank) 기준으로 salary 평균을 DataFrame `q5_3_group_mean`에.
- 5-4: salary에 대해 평균/중앙값/표준편차를 agg로 계산한 DataFrame을 `q5_4_agg`에.
- 5-5: department별 데이터 개수를 오름차순으로 정렬한 Series를 `q5_5_counts_sorted`에.

In [ ]:
# === [5] 그룹화와 집계 ===
q5_1_dept_mean = ...
q5_2_gender_max = ...
q5_3_group_mean = ...
q5_4_agg = ...
q5_5_counts_sorted = ...

<hr> 6. 피벗과 멀티인덱스 (sales_data) <hr>

- 6-1: city=행, gender=열, 값=sales 평균 pivot_table -> `q6_1_pivot`.
- 6-2: NaN을 0으로 채우고 int로 변환 -> `q6_2_filled`.
- 6-3: pivot에 연간 총합 컬럼 total 추가 -> `q6_3_total`.
- 6-4: sales_data를 melt -> id_vars=['city','gender'], var_name='metric', value_name='value' -> `q6_4_melt`.
- 6-5: long형에서 city별, gender별 평균 value DataFrame -> `q6_5_group`.

In [ ]:
# === [6] 피벗과 멀티인덱스 ===
q6_1_pivot = ...
q6_2_filled = ...
q6_3_total = ...
q6_4_melt = ...
q6_5_group = ...

<hr> 7. 병합과 결합 (user_info, user_score) <hr>

- 7-1: 두 DF를 id로 내부 조인 -> `q7_1_inner`.
- 7-2: 동일 컬럼명 충돌시 접미사 적용 예시: (`suffixes=('_L','_R')`)로 머지 -> `q7_2_suffix`.
- 7-3: user_score를 id 기준으로 평균 점수를 구한 DF -> `q7_3_score_mean`.
- 7-4: user_info와 7-3 결과를 left join -> `q7_4_left`.
- 7-5: user_info와 user_score를 행 방향 concat -> `q7_5_concat` (ignore_index=True).

In [ ]:
# === [7] 병합과 결합 ===
q7_1_inner = ...
q7_2_suffix = ...
q7_3_score_mean = ...
q7_4_left = ...
q7_5_concat = ...

<hr> 8. apply / lambda / 사용자 정의 함수 (apply_test) <hr>

- 8-1: score1의 제곱근 Series -> `q8_1_sqrt`.
- 8-2: 행 단위(axis=1)로 score1+score2 합 Series -> `q8_2_row_sum`.
- 8-3: name과 age를 결합한 full_name('Kim_25' 형식) Series -> `q8_3_fullname`.
- 8-4: age>=30 -> '성인' else '청년' Series -> `q8_4_age_group`.
- 8-5: 수치형 컬럼 평균을 반환하는 사용자 함수 `num_mean(df)` 정의하고, 결과를 `q8_5_num_mean`에.

In [ ]:
# === [8] apply / lambda / 사용자 정의 함수 ===
q8_1_sqrt = ...
q8_2_row_sum = ...
q8_3_fullname = ...
q8_4_age_group = ...
def num_mean(df):
    ...
q8_5_num_mean = ...

<hr> 9. 고급 응용 (analyze) <hr>

- 9-1: groupby city로 score 평균 Series -> `q9_1_city_score_mean`.
- 9-2: score 상위 10% 행만 DataFrame -> `q9_2_top10p`.
- 9-3: cut으로 age를 3구간으로 나누고 각 구간의 income 평균 Series -> `q9_3_bin_income_mean`.
- 9-4: 수치형 상관계수 DataFrame -> `q9_4_corr`.
- 9-5: 상관계수 절댓값이 가장 큰 쌍의 컬럼명 튜플 -> `q9_5_max_pair`.

In [ ]:
# === [9] 고급 응용 ===
q9_1_city_score_mean = ...
q9_2_top10p = ...
q9_3_bin_income_mean = ...
q9_4_corr = ...
q9_5_max_pair = ...

<hr> 10. 인덱스와 멀티인덱스 (multi_index) <hr> 

- 10-1: class, number를 인덱스로 설정한 DataFrame -> `q10_1_setidx`.
- 10-2: subject별 mid 평균 Series -> `q10_2_subj_mid_mean`.
- 10-3: 인덱스 초기화 DataFrame -> `q10_3_reset`.
- 10-4: 인덱스 이름을 ('반','번호')로 설정한 DataFrame -> `q10_4_named`.
- 10-5: (class, subject) 기준 mid 평균을 pivot_table로 wide 구성 -> `q10_5_pivot`.

In [ ]:
# === [10] 인덱스와 멀티인덱스 ===
q10_1_setidx = ...
q10_2_subj_mid_mean = ...
q10_3_reset = ...
q10_4_named = ...
q10_5_pivot = ...