### 【 펭귄 데이터 분석 및 인사이트 도출 】
- 과제 주제 : PalmerPenguins 데이터를 활용한 종별 신체 특성 분석 및 환경 요인 인사이트 도출
- 과제 목표 :
1. palmerpenguins 데이터를 활용하여 펭귄의 종(species), 섬(island), 성별(sex)에 따른 신체 특성 차이를 분석
             
2. 수치형 변수 간 관계 탐색 및 시각화 진행으로 의미 있는 패턴 발견
             
3. 데이터 전처리 → 탐색 → 분석 → 인사이트 도출까지 전 과정을 실습

모듈 불러오기

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib

데이터 불러오기

In [3]:
DATA_FILE = '../EXAM_DATA/penguins.csv'
df = pd.read_csv(DATA_FILE)
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009