### 【 펭귄 데이터 분석 및 인사이트 도출 】
- 과제 주제 : PalmerPenguins 데이터를 활용한 종별 신체 특성 분석 및 환경 요인 인사이트 도출
- 과제 목표 :
1. palmerpenguins 데이터를 활용하여 펭귄의 종(species), 섬(island), 성별(sex)에 따른 신체 특성 차이를 분석
             
2. 수치형 변수 간 관계 탐색 및 시각화 진행으로 의미 있는 패턴 발견
             
3. 데이터 전처리 → 탐색 → 분석 → 인사이트 도출까지 전 과정을 실습

[과제 실행할 순서]

1. 종에 따른 신체 특성 그래프
2. 섬에 따른 신체 특성 그래프
3. 성별에 따른 신체 특성 그래프

--> 이 안에서 또 각각의 종, 섬, 성별을 합했을 때 특성 그래프 비교해보기

[1] 모듈 불러오기

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib

[2] 데이터 불러오기

In [ ]:
## 펭귄 데이터 불러와서 데이터프레임으로 출력
DATA_FILE = '../EXAM_DATA/penguins.csv'
df = pd.read_csv(DATA_FILE)
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

[3] 데이터 전처리

In [ ]:
## 결측치 확인
df.isnull().sum()  ## -> 결측치 존재 (특히 성별 관련 결측치가 11개 이므로 성별에 따른 신체 특성 차이 출력할 때 고려해야할듯)

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [5]:
## 전반적인 데이터 정보 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB

In [ ]:
## 전반적인 데이터 값 확인
df.describe(include='all')      ## 이상치 같은 건 존재하지 않는 것으로 보임

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
count,344,344,342.000000,342.000000,342.000000,342.000000,333,344.000000
unique,3,3,NaN,NaN,NaN,NaN,2,NaN
top,Adelie,Biscoe,NaN,NaN,NaN,NaN,male,NaN
freq,152,168,NaN,NaN,NaN,NaN,168,NaN
mean,NaN,NaN,43.921930,17.151170,200.915205,4201.754386,NaN,2008.029070
std,NaN,NaN,5.459584,1.974793,14.061714,801.954536,NaN,0.818356
min,NaN,NaN,32.100000,13.100000,172.000000,2700.000000,NaN,2007.000000
25%,NaN,NaN,39.225000,15.600000,190.000000,3550.000000,NaN,2007.000000
50%,NaN,NaN,44.450000,17.300000,197.000000,4050.000000,NaN,2008.000000
75%,NaN,NaN,48.500000,18.700000,213.000000,4750.000000,NaN,2009.000000
max,NaN,NaN,59.600000,21.500000,231.000000,6300.000000,NaN,2009.000000

In [18]:
## 결측치 행들 처리하기
# bill_length_mm        2
# bill_depth_mm         2
# flipper_length_mm     2
# body_mass_g           2
# sex                  11
# => 여기서 sex가 없는 행들은 신체 특성 값도 존재하지 않고, 또 결측치가 있는 데이터가 전체 데이터의 5프로 정도 밖에 안 되기에 그냥 전체 버리기

df = df.dropna()
df.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

[4] 데이터 시각화

In [ ]:
## 1. 종에 따른 신체 특성 그래프 그리기
##    => x축은 동물의 인덱스 번호, y축은 신체 특성의 값
##    => 여기서 신체 특성이 4가지 있으므로 subplot으로 2행2열 나눠서 4가지 다 종별로 표현해보기

## 먼저 종 종류 확인
df['species'].unique()
# => ['Adelie', 'Gentoo', 'Chinstrap'] 출력 확인

## Adelie 종 먼저 확인해보기
mask = df['species'] == 'Adelie'
df_A = df[mask]
df_A

df_A['bill_length_mm'].

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009