### ë¯¸ë‹ˆ í”„ë¡œì íŠ¸

1. ì „ê¸°ì°¨
2. ììœ¨ì£¼í–‰
3. ì „ë™í™”

* ë‚´ ì£¼ì œ : ì „ê¸°ì°¨

# Depth

1. ì „ê¸°ì°¨ê°€ ì™œ 1ë“± í‚¤ì›Œë“œì¼ê¹Œ? ì´ìœ ê°€ ë­˜ê¹Œ? => ì´ëŸ¬ì´ëŸ¬í•œ íŠ¸ë Œë“œ ë•Œë¬¸ì— ì „ê¸°ì°¨ê°€ ìœ í–‰ì´êµ¬ë‚˜!
2. ê·¸ëŸ¼ ì—ìŠ¤ì—˜ì—ì„œëŠ” ì´ëŸ¬ì´ëŸ¬í•œ íŠ¸ë Œë“œì—ì„œ ì–´ë–¤ ìœ„ì¹˜ì¼ê¹Œ?
3. ì•ìœ¼ë¡œ ì—ìŠ¤ì—˜ì´ ë‚˜ì•„ê°€ì•¼í•˜ëŠ” ë°©í–¥?

In [ ]:
import pandas as pd
from collections import Counter
import re

# ============================================
# 1) CSV ë¶ˆëŸ¬ì˜¤ê¸°
# ============================================
df = pd.read_csv("danawa_news_titles.csv")
titles = df["ì œëª©"].dropna().tolist()   # í˜¹ì‹œ ë¹ˆê°’ ìˆìœ¼ë©´ ì œê±°

print("ì œëª© ê°œìˆ˜:", len(titles))

# ============================================
# 2) ì œëª©ì„ í•˜ë‚˜ì˜ ë¬¸ìì—´ë¡œ í•©ì¹˜ê¸°
# ============================================
all_text = " ".join(titles)

# íŠ¹ìˆ˜ë¬¸ì ì œê±° (í•œê¸€/ì˜ë¬¸/ìˆ«ì/ê³µë°±ë§Œ ë‚¨ê¸°ê¸°)
clean_text = re.sub(r"[^0-9A-Za-zê°€-í£\s]", " ", all_text)

# ë‹¨ì–´ ë¶„ë¦¬
tokens = clean_text.split()

# ============================================
# 3) ë¶ˆìš©ì–´(stopwords) ì œê±° + ê¸¸ì´ 2 ì´ìƒ ë‹¨ì–´ë§Œ
# ============================================
stopwords = [ "ê³µê°œ", "ì¶œì‹œ", "í˜„ëŒ€ì°¨", "ê¸°ì•„", "íŒë§¤", "2024", "2025", "ì‹œì¥", "ìë™ì°¨",
    "ê°œìµœ", "ìƒì‚°", "SUV", "ëª¨ë¸", "êµ­ë‚´", "ê¸€ë¡œë²Œ", "ëª¨ë¹Œë¦¬í‹°", "ìµœì´ˆ", "ê°œë°œ",
    "ì¦ê°€", "ì„œë¹„ìŠ¤", "ë¸Œëœë“œ", "ì˜ìƒ", "ì‹¤ì‹œ", "ì„¸ê³„", "ê¸°ìˆ ", "ìœ„í•œ",
    "í˜„ëŒ€ì°¨ê·¸ë£¹", "ê³µì¥", "ê°•í™”", "ì§„í–‰", "ìµœëŒ€", "ì²´ê²°", "ì‹ í˜•", "ê³µì‹",
    "íŠ¸ë Œë“œ", "ì‹œìŠ¹ê¸°", "ê³ ê°", "2025ë…„", "í™•ëŒ€", "ë””ìì¸", "ì‹ ì°¨", "ì°¨ëŸ‰",
    "2024ë…„", "ìˆ˜ìƒ", "ìº í˜ì¸", "ë°œí‘œ", "ì˜¤í”ˆ", "ê°œì‹œ", "ì—ë””ì…˜", "ì°¨ì„¸ëŒ€",
    "ëŒíŒŒ", "ì„ ì •", "ì§€ì›", "ê°ì†Œ", "ë¯¸ë˜", "í˜‘ë ¥", "ê³µê¸‰", "ê¸°ë…", "ì‹ ê·œ",
    "ìƒˆë¡œìš´", "1ìœ„", "ê°€ê²©", "ëª©í‘œ", "í”„ë¡œëª¨ì…˜", "ëŒ€ìƒ", "ì—°ì†", "ì „ëµ", "ì£¼í–‰", "ë‹¬ì„±", "ê¸°ë¡", "ì „í™˜", "ìµœê³ ", "ì „ë§", "ë§Œì—",
    "í›„ì›", "ê¸°ë°˜", "ì„±ë£Œ", "ì°¸ê°€", "ì‹œì‘", "ê³„íš", "ê³µëµ", "ê°€ì¥", "ìœ„í•´",
    "ì˜¬í•´ì˜", "ì „ìš©", "ì„±ì¥", "ë¶€ë¬¸", "ì¶”ê°€", "2023ë…„", "íŠ¹ë³„", "ëŒ€ë¹„",
    "ì˜ˆê³ ", "ì´ë²¤íŠ¸", "ì ìœ ìœ¨", "2026ë…„", "í”„ë¦¬ë¯¸ì—„", "ë„ì…", "êµ¬ë§¤",
    "ì˜ˆì •", "ì§„ì¶œ", "í”„ë¡œê·¸ë¨", "ì „ì‹œ", "ìƒë°˜ê¸°", "ë¶€ë¶„ë³€ê²½", "ì œê³µ",
    "ì½˜ì…‰íŠ¸", "ì•ˆì „", "ì‹¤ì ", "ID", "ìš°ìŠ¹", "í™•ì¥", "í•œì •", "ëª¨ì§‘",
    "êµ¬ì¶•", "1ë¶„ê¸°", "ì¹¼ëŸ¼", "í˜œíƒ", "ê³µë™", "ì˜¬í•´", "ì¤‘ë‹¨", "ë²ˆì§¸",
    "ë°•ì°¨", "ì‹œì¦Œ", "ê²½ìŸ", "ì˜¨ë¼ì¸", "ì–‘ì‚°", "ì ìš©" ]
words = [w for w in tokens if len(w) >= 2 and w not in stopwords]

# ============================================
# 4) ë‹¨ì–´ ë¹ˆë„ìˆ˜ ì„¸ê¸°
# ============================================
counter = Counter(words)
top_word = counter.most_common()

# ============================================
# 5) DataFrameìœ¼ë¡œ ë³€í™˜
# ============================================
df_keywords = pd.DataFrame(top_word, columns=["ë‹¨ì–´", "ë¹ˆë„"])

print("\nğŸ” í‚¤ì›Œë“œ TOP WORD")
display(df_keywords)

df_keywords.to_csv('result.csv', index=False)       ## ë¶ˆìš©ì–´ë¥¼ ì œê±°í•œ keywordë“¤ë§Œ csv íŒŒì¼ë¡œ ì €ì¥í•´ì„œ í•œ ë²ˆ í™•ì¸

ì œëª© ê°œìˆ˜: 18886

ğŸ” í‚¤ì›Œë“œ TOP WORD

          ë‹¨ì–´    ë¹ˆë„
0        ì „ê¸°ì°¨  2111
1         ì¤‘êµ­  1408
2        í…ŒìŠ¬ë¼   889
3        BMW   877
4         EV   731
...      ...   ...
27251    ë™ì•ˆì˜     1
27252  23ì¼ë¶€í„°     1
27253  26ì¼ê¹Œì§€     1
27254    8ê°œêµ­     1
27255  5ì‹œë¦¬ì¦ˆëŠ”     1

[27256 rows x 2 columns]

In [3]:
# ============================================
# 6) 'ì „ê¸°ì°¨' ë˜ëŠ” 'ì „ê¸°'ê°€ ë“¤ì–´ê°€ëŠ” ì œëª©ë§Œ ê³¨ë¼ì„œ í‚¤ì›Œë“œ ë¶„ì„
# ============================================

# 6-1) ì „ê¸°ì°¨ ê´€ë ¨ ì œëª©ë§Œ í•„í„°ë§
ev_titles = [t for t in titles if ("ì „ê¸°ì°¨" in str(t)) or ("ì „ê¸°" in str(t))]
print("ì „ê¸°ì°¨/ì „ê¸° ê´€ë ¨ ì œëª© ê°œìˆ˜:", len(ev_titles))

# 6-2) ì œëª©ë“¤ì„ í•˜ë‚˜ì˜ ë¬¸ìì—´ë¡œ í•©ì¹˜ê¸°
ev_text = " ".join(ev_titles)

# íŠ¹ìˆ˜ë¬¸ì ì œê±°
ev_clean = re.sub(r"[^0-9A-Za-zê°€-í£\s]", " ", ev_text)

# ë‹¨ì–´ ë¶„ë¦¬
ev_tokens = ev_clean.split()

# 6-3) ë¶ˆìš©ì–´ + (ì›í•˜ë©´) ì „ê¸° ê´€ë ¨ ë‹¨ì–´ë„ ì œì™¸ ê°€ëŠ¥
# í•„ìš”í•˜ë©´ extra_stopì— ["ì „ê¸°ì°¨", "ì „ê¸°", "EV"] ì´ëŸ° ì‹ìœ¼ë¡œ ë„£ì–´ì„œ ë¹¼ë©´ ë¨
extra_stop = []   # ì˜ˆ: ["ì „ê¸°ì°¨", "ì „ê¸°", "EV"]
ev_words = [
    w for w in ev_tokens
    if len(w) >= 2 and w not in stopwords and w not in extra_stop
]

# 6-4) ì „ê¸°ì°¨ ê´€ë ¨ ì œëª© ì•ˆì—ì„œ ë‹¨ì–´ ë¹ˆë„ ì„¸ê¸°
ev_counter = Counter(ev_words)
ev_top30 = ev_counter.most_common(30)

df_ev_keywords = pd.DataFrame(ev_top30, columns=["ë‹¨ì–´", "ë¹ˆë„"])

print("\nì „ê¸°ì°¨/ì „ê¸° ê´€ë ¨ ì œëª© ì•ˆì—ì„œì˜ í‚¤ì›Œë“œ TOP 30")
display(df_ev_keywords)

# df_ev_keywords.to_csv("result_ev_keywords.csv", index=False, encoding="utf-8")

ì „ê¸°ì°¨/ì „ê¸° ê´€ë ¨ ì œëª© ê°œìˆ˜: 3162

ì „ê¸°ì°¨/ì „ê¸° ê´€ë ¨ ì œëª© ì•ˆì—ì„œì˜ í‚¤ì›Œë“œ TOP 30

       ë‹¨ì–´    ë¹ˆë„
0     ì „ê¸°ì°¨  2111
1      ì „ê¸°   604
2      ì¤‘êµ­   315
3     ë°°í„°ë¦¬   260
4      EV   219
5     BYD   164
6      ë¯¸êµ­   142
7      ìœ ëŸ½   139
8     í…ŒìŠ¬ë¼   117
9    í­ìŠ¤ë°”ê²   116
10    BMW   110
11     ìˆœìˆ˜    86
12     ì¶©ì „    84
13     ë²¤ì¸     84
14  í•˜ì´ë¸Œë¦¬ë“œ    81
15     GM    73
16    í¬ë¥´ì‰    71
17     ë³¼ë³´    69
18   ì•„ì´ì˜¤ë‹‰    69
19    í† ìš”íƒ€    66
20    ê³ ì„±ëŠ¥    62
21     í¬ë“œ    62
22    ì¤‘êµ­ì‚°    62
23  ë©”ë¥´ì„¸ë°ìŠ¤    61
24    ë³´ì¡°ê¸ˆ    60
25    ì•„ìš°ë””    58
26     ê´€ì„¸    55
27   ì „ê¸°íŠ¸ëŸ­    52
28     ì„¸ë‹¨    49
29    ì½”ë¦¬ì•„    48

### ì „ê¸°, ë‚˜ë¼, ë©”ì´ì»¤ ê´€ë ¨ëœ ê²ƒë“¤ì€ ê·¸ë ‡ë‹¤ ì‹¶ì€ë° => ì¤‘êµ­ì€ ì™œ ì´ë ‡ê²Œ ë†’ê³ , ë°°í„°ë¦¬ëŠ” ì™œ ì´ë ‡ê²Œ ë†’ì„ê¹Œ?

In [7]:
# ============================================
# ì¤‘êµ­ ê´€ë ¨ ì œëª©ë§Œ í•„í„°ë§
# ============================================
china_titles = [t for t in titles if "ì¤‘êµ­" in str(t)]

print("ì¤‘êµ­ ê´€ë ¨ ì œëª© ê°œìˆ˜:", len(china_titles))

# ë‹¨ì–´ ë¶„ì„
china_text = " ".join(china_titles)
china_clean = re.sub(r"[^0-9A-Za-zê°€-í£\s]", " ", china_text)
china_tokens = china_clean.split()

china_words = [
    w for w in china_tokens 
    if len(w) >= 2 and w not in stopwords
]

china_counter = Counter(china_words)
china_top10 = china_counter.most_common(10)

df_china = pd.DataFrame(china_top10, columns=["ë‹¨ì–´", "ë¹ˆë„"])
print("\nì¤‘êµ­ ê´€ë ¨ í‚¤ì›Œë“œ Top10")
display(df_china)

ì¤‘êµ­ ê´€ë ¨ ì œëª© ê°œìˆ˜: 1723

ì¤‘êµ­ ê´€ë ¨ í‚¤ì›Œë“œ Top10

      ë‹¨ì–´    ë¹ˆë„
0     ì¤‘êµ­  1408
1    ì „ê¸°ì°¨   327
2    BYD   168
3    ë°°í„°ë¦¬   134
4    ì¤‘êµ­ì‚°   108
5  ì‹ ì—ë„ˆì§€ì°¨   104
6    í…ŒìŠ¬ë¼    97
7     ìœ ëŸ½    72
8     ê´€ì„¸    66
9   ììœ¨ì£¼í–‰    63

In [8]:
# ============================================
# ë°°í„°ë¦¬ ê´€ë ¨ ì œëª©ë§Œ í•„í„°ë§
# ============================================
battery_titles = [t for t in titles if "ë°°í„°ë¦¬" in str(t)]

print("ë°°í„°ë¦¬ ê´€ë ¨ ì œëª© ê°œìˆ˜:", len(battery_titles))

battery_text = " ".join(battery_titles)
battery_clean = re.sub(r"[^0-9A-Za-zê°€-í£\s]", " ", battery_text)
battery_tokens = battery_clean.split()

battery_words = [
    w for w in battery_tokens 
    if len(w) >= 2 and w not in stopwords
]

battery_counter = Counter(battery_words)
battery_top10 = battery_counter.most_common(10)

df_battery = pd.DataFrame(battery_top10, columns=["ë‹¨ì–´", "ë¹ˆë„"])
print("\në°°í„°ë¦¬ ê´€ë ¨ í‚¤ì›Œë“œ Top10")
display(df_battery)

ë°°í„°ë¦¬ ê´€ë ¨ ì œëª© ê°œìˆ˜: 793

ë°°í„°ë¦¬ ê´€ë ¨ í‚¤ì›Œë“œ Top10

     ë‹¨ì–´   ë¹ˆë„
0   ë°°í„°ë¦¬  731
1   ì „ê¸°ì°¨  241
2    ì¤‘êµ­  130
3   ì „ê³ ì²´   81
4    EV   65
5  CATL   61
6    ë¯¸êµ­   43
7    íƒ‘ì¬   40
8   LFP   39
9   BYD   34