### [안내] FutureWarning은 미래 버전 예고라서, 코랩, 시험에서도 무시해도 됩니다.
~~~
코랩 흔히 발생하는 FutureWarning
df['views'].fillna(min, inplace=True)  # 변경 전 (경고 발생, 무시해도 됨)
df['views'] = df['views'].fillna(min)  # 변경 후 (권장 방식)
~~~

### Section1.

In [10]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 1. 필터링, 최소값, 중앙값

# 'f5' 컬럼이 0이 아닌 데이터(행)를 구하시오.
# 도전
cond = df['f5'] != 0
df = df[cond]

# 앞에서 구한 데이터에 ‘views’ 컬럼 결측치를 ‘views’ 컬럼의 최솟값으로 채워주세요.
# 깍두기
df.isnull().sum()
cond = df['views'].min()
df['views'] = df['views'].fillna(cond)

# 그리고 ‘views’ 컬럼의 중앙값을 계산해 정수로 구하시오.
# 도전
mid = df['views'].median()
mid = int(mid)

### Section2.

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 2. 카테고리, 인덱스, 문자열 슬라이싱

# 'subscribed' 컬럼에서 가장 빈도수가 많은 날짜를 구하시오.
# 도전
most = df['subscribed'].mode()[0]
most

# 앞에서 구한 날짜의 일(day) 값을 정수로 구하시오.
# 도전
day = int(most[-2:])
day

17

### Section3.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 3. 파생변수, 정렬, 인덱싱

# 결측치가 있는 데이터(행)를 제거하시오.
# 도전
df = df.dropna()
df.isnull().sum()

# ‘views’ 컬럼을 ‘f1’ 컬럼으로 나눈 값을 새로운 컬럼으로 추가하시오.
# 도전
df['views/f1'] = df['views'] / df['f1']

# 새로운 컬럼 값 중 가장 큰 값을 가진 행의 age를 정수로 구하시오.
# 도전 + 깍두기 (방법만 참고)
df = df.sort_values('views/f1',ascending=False)
bigage = int(df['age'].iloc[0])
print(bigage)

22

### Section4.

In [13]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 4. 값 변경, 정렬, 합계
df

# ‘views’ 컬럼의 결측 데이터를 0으로 대체하시오.
df.isnull().sum()
df['views'] = df['views'].fillna(0)
df.isnull().sum()

# ‘views’ 컬럼에서 상위 10번째 값을 구하시오.
df.sort_values('views',ascending=False, inplace=True)
top = df['views'].iloc[9]
top

# ‘views’ 컬럼에서 상위 10개의 값을 상위 10번째 값으로 대체하시오.
for i in range(10):
    df['views'].iloc[i] = top


# ‘views’ 컬럼의 전체 합을 정수로 구하시오.
print(int(df['views'].sum()))

652812

C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['views'].iloc[i] = top
C:\Users\KDT\AppData\Local\Temp\ipykernel_27744\2828819109.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['views'].iloc[i] = top

### Section5.

In [18]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 5. 문자열 슬라이싱, 파생변수, 평균값
df

# ‘f4’컬럼의 값 중에서 3번째와 4번째 문자가 ‘FJ’인 행(데이터)를 찾으시오.
cond = (df['f4'].str[2:4] == "FJ")
df_new = df[cond]
df_new

# 찾은 데이터 중에서 ‘f2’ 컬럼의 평균값을 구하시오. (반올림 후 소수 둘째 자리까지 계산)
print(round(df_new['f2'].sum() / len(df_new),2))

0.61

### Section6.

In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 6. 필터링, 분산
df

# ‘f3’ 컬럼이 gold이면서 ‘f2’ 컬럼이 2인 데이터를 찾으시오.
cond1 = (df['f3'] == "gold")
cond2 = (df['f2'] == 2)

df = df[cond1 & cond2]
df

# 찾은 데이터에서 ‘f1’ 컬럼의 분산을 구하시오. (반올림 후 소수 둘째 자리까지 계산)
print(df['f1'].var())

235.4333333333334

### Section7.

In [10]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 7. 값 변경(연산), 필터링 절대값

# 모든 나이(age)에 1을 더하시오.
df['age'] = df['age'] + 1

# 20대의 ‘views’ 평균과 30대의 ‘views’ 평균의 절댓값 차이를 구하시오. (반올림 후 소수 둘째 자리까지 계산)
mask1 = (df['age']>=20) & (df['age']<30)
df_20 = df[mask1]
mask2 = (df['age']>=30) & (df['age']<40)
df_30 = df[mask2]

df_20_avg = df_20['views'].sum() / len(df_20)
df_30_avg = df_30['views'].sum() / len(df_30)

print(abs(df_20_avg - df_30_avg))

263.13076923076915

### Section8.

In [16]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 8. 시계열 데이터, 필터링, 데이터 개수
df

# ‘subscribed’ 컬럼이 2024년 2월인 데이터를 찾으시오.
df['subscribed'] = pd.to_datetime(df['subscribed'])

df['year'] = df['subscribed'].dt.year
df['month'] = df['subscribed'].dt.month

cond1 = df['year'] == 2024
cond2 = df['month'] == 2
df_new = df[cond1 & cond2]
df_new

# 위에서 찾은 데이터 중 ‘f3’ 컬럼이 gold인 데이터의 개수를 구하시오.
df_new2 = df_new[df_new['f3']=='gold']
df_new2

,id,age,city,f1,f2,f3,f4,f5,subscribed,views,year,month
22,id22,-6.3,부산,72.0,1,gold,ENFP,52.667078,2024-02-09,6147.0,2024,2
31,id31,86.0,부산,77.0,0,gold,ESFJ,73.586397,2024-02-11,8014.0,2024,2
42,id42,65.0,대구,48.0,2,gold,ESTP,33.308999,2024-02-09,5999.0,2024,2
55,id55,75.0,대구,63.0,2,gold,ENTP,13.049921,2024-02-06,6042.0,2024,2
64,id64,43.0,경기,62.0,2,gold,ESFP,73.586397,2024-02-22,5995.0,2024,2

### Section9.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 9. 필터링, 카테고리, 최빈값
df

# ‘views’ 컬럼 값이 1000 이하인 데이터(결측치 제외)를 찾으시오.
df = df.dropna(subset=['views'])
df.isnull().sum()

cond = df['views'] <= 1000
df_new = df[cond]

# 앞에서 구한 데이터 중 ‘f4’ 컬럼의 최빈값을 구하시오.
df_new['f4'].mode()[0]

      id   age city    f1  f2   f3    f4         f5  subscribed  views
3   id04  75.0   서울   NaN   2  NaN  INFP  52.667078  2024-07-21  493.0
6   id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378  2024-01-11   61.0
30  id30  16.0   부산   NaN   0  NaN  ESTJ  17.252986  2024-05-28  240.0
44  id44  44.0   대구   NaN   0  NaN  INTP  16.283854  2024-11-10  546.0
61  id61  87.0   경기  62.0   2  NaN  INTP  69.730313  2024-02-03  218.0
72  id72   8.0   경기  97.0   0  NaN  ESTJ  97.381034  2024-01-30  602.0
73  id73  90.0   경기   NaN   1  NaN  ISFJ  73.586397  2024-08-12  512.0
81  id81  86.0   경기  50.0   1  NaN  ISFJ  37.113739  2024-09-14  244.0
93  id93  21.8   경기  57.0   0  NaN  ISFP  73.586397  2024-06-07   42.0
98  id98  39.0   경기  58.0   2  NaN  INFP  98.429899  2024-10-02  865.0

### Section10.

In [9]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 10. 그룹핑, 최대값, 정렬
df

# 결측치가 있는 행을 삭제하시오.
df = df.dropna()
df

# 결측치가 삭제된 데이터를 사용하여 지역별(city) 평균을 계산하시오.
df2 = df.groupby('city').mean(numeric_only=True)
df2

# 앞에서 계산한 지역별 평균 데이터에서 'f2' 컬럼 값이 가장 큰 지역을 구하시오.
df3 = df2.sort_values('f2',ascending=False)
print(df3.index[0])

서울

### Section11.

In [13]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 11. 슬라이싱, 사분위수, 결측치 제거
df

# 데이터에서 결측치가 있는 데이터(행)를 모두 제거하시오.
df2 = df.dropna()

# 결측치가 제거된 데이터를 사용하여 앞에서부터 70% 데이터를 구하시오. (단, 데이터 70% 지점의 index가 소수점으로 계산될 경우 소수점 이하는 버림)
end = int(len(df2)*0.7)
df3 = df2.iloc[:end]
df3

# 앞에서 구한 70% 데이터 중 ‘views’ 컬럼의 3사분위수에서 1사분위수를 뺀 값을 정수로 구하시오.
minus = df3['views'].quantile(.75) - df3['views'].quantile(.25)
print(int(minus))

2771

### Section12.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 12. 결측치 처리, 최빈값, 데이터 개수
df

# 결측치가 가장 많은 두 컬럼을 찾으시오.
df.isnull().sum() # f1과 f3 각각 31, 29로 가장 많음

# 첫 번째로 결측치가 많은 컬럼에서 결측치가 있는 데이터(행)를 삭제하시오.
df2 = df.dropna(subset=['f1'])
df2.isnull().sum()
# 두 번째로 결측치가 많은 컬럼을 최빈값으로 대체하시오.
freq = df2['f3'].mode()[0]
df2['f3'] = df2['f3'].fillna(freq)
df2.isnull().sum()

# ‘f3’ 컬럼의 ‘gold’ 값을 가진 데이터의 수를 정수형으로 구하시오.
cond = df2['f3'] == 'gold'
print(sum(cond))

63

C:\Users\KDT\AppData\Local\Temp\ipykernel_30560\557583410.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['f3'] = df2['f3'].fillna(freq)

### Section13.

In [5]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 13. 결측 데이터 찾기, 필터링, 평균값
df

# ‘f1’ 컬럼에 결측치가 있는 데이터만 선택하시오.
cond = df['f1'].isnull()
df = df[cond]
df

# 선택된 데이터에서 ‘age’ 컬럼의 평균값을 구하시오. (반올림 후 소수 첫째 자리까지 계산)
print(round(df['age'].mean(), 1))

53.6

### Section14.

In [9]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 14. 중복데이터 제거, 값 변경, 데이터 개수
df

# 중복 데이터를 제거하시오. (단, 중복이 발생한 경우 뒤에 나온 행을 제거한다.)
df = df.drop_duplicates()
df

# ‘f3’ 컬럼의 결측치는 0, 'silver'는 1, 'gold'는 2, 'vip'는 3으로 변환하시오.
mapping = {'silver':1, 'gold':2, 'vip':3}
df['f3'] = df['f3'].map(mapping).fillna(0)

# 변환된 ‘f3’ 컬럼의 총합을 정수형으로 구하시오.
print(int(df['f3'].sum()))

167

### Section15.

In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 15. 컬럼 삭제, 행 단위 합계, 필터링
df

# 주어진 데이터에서 문자 자료형 컬럼을 삭제하시오.
df = df.select_dtypes(exclude='object')
df.info()

# 숫자 자료형 컬럼의 결측치를 0으로 대체하시오.
print(df.isnull().sum())
df = df.fillna(0)
df.isnull().sum()

# 각 행의 합이 3000보다 큰 값의 개수를 정수로 구하시오. (각 행의 합: ‘age’ + ‘f1’ + ‘f2’ + ‘f5’ + ‘views’)
cond = (df['age']+df['f1']+df['f2']+df['f5']+df['views'] > 3000)
print(cond.sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     120 non-null    float64
 1   f1      89 non-null     float64
 2   f2      120 non-null    int64
 3   f5      120 non-null    float64
 4   views   116 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 4.8 KB
age       0
f1       31
f2        0
f5        0
views     4
dtype: int64
88

### Section16.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 16. 이상치, IQR

# 'views' 컬럼의 1사분위수, 3사분위수 그리고 IQR을 계산하시오.
# 이상치 조건에 맞는 데이터를 찾으시오. (이상치는 1사분위수 – (IQR * 1.5)보다 작은 값과 3사분위수 + (IQR * 1.5)보다 큰 값)
# 이상치 데이터의 'views' 컬럼 합을 정수로 구하시오.

### Section17.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 17. 이상치, 소수점 있는 데이터 찾기, 표준편차

# ‘views’ 컬럼의 표준편차를 구하시오.
# ‘age’ 컬럼의 이상치(소수점 나이, 음수 나이, 0살)를 제거하고, ‘views’ 컬럼의 표준편차를 구하시오.
# 이상치 제거 전후의 ‘views’ 컬럼의 표준편차를 더하여, 반올림 후 소수 둘째 자리까지 구하시오.

### Section18.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data2.csv", index_col="year")

# Section 18. 데이터(행) 기준 평균값, 인덱싱

# index '2001' 데이터(행)에서 평균보다 큰 값의 개수를 구하시오.
# index '2003' 데이터(행)에서 평균보다 작은 값의 개수를 구하시오.
# 두 개수를 더하시오.

### Section19.

In [10]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 19. 결측치(뒤에 값으로 대체), 그룹합
df

# 결측치를 바로 뒤에 있는 값으로 대체하시오. (바로 뒤의 값도 결측치일 경우, 뒤에 있는 데이터 중 가장 가까운 값으로 대체)
df = df.bfill()
df
# 'city'와 'f2' 컬럼을 기준으로 그룹합을 계산하시오. ## 깍두기
df = df.groupby(['city', 'f2']).sum(numeric_only=True).reset_index()
df

# 'views' 값이 세 번째로 큰 city 이름을 구하시오.
df_new = df.sort_values('views', ascending=False)
df_new['city'].iloc[2]

'경기'

### Section20.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/type1_data1.csv")

# Section 20. 시계열 데이터, 월별 집계, 인덱스
df

# 연도 구분 없이 월별로 숫자형 컬럼의 합을 구하시오.        ## 약간의 깍두기
df['subscribed'] = pd.to_datetime(df['subscribed'])
df['month'] = df['subscribed'].dt.month
df = df.groupby(['month']).sum(numeric_only=True)
df
# 합계 중 'views'가 가장 작은 값을 가진 월을 정수로 구하시오.
df = df.sort_values('views')
print(int(df.index[0]))

11

### Section21.

In [24]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/delivery_time.csv")

# Section 21. 시간 간의 차이 계산(분), 필터링
df

# 예상 도착 시간보다 늦게 도착한 건수를 구하시오.
mask = df['실제도착시간'] > df['예상도착시간']
print(mask.sum())
df= df[mask]
df

# 이 중 거리가 7km 이상인 데이터의 수를 정수로 구하시오.
mask2 = df['거리'] >= 7
print(int(mask2.sum()))

510
311

### Section22.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/delivery_time.csv")

# Section 22. 시간 간의 차이 계산(분), 그룹핑
df

# 주문 시간과 실제 도착 시간의 차이를 분 단위로 계산하시오.
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])

# 앱 종류별로 평균 도착 시간(분)을 계산하시오.

# 평균적으로 가장 빠른 앱 종류를 찾고, 해당 앱의 평균 도착 시간을 분으로 반올림하여 정수로 구하시오.

,주문시간,실제도착시간,예상도착시간,앱종류,거리,결제종류,user
0,2023-07-26 08:05:49,2023-07-26 09:14:06,2023-07-26 08:39:42,여기여,1.93,카드,user_275
1,2022-11-07 10:21:54,2022-11-07 10:44:04,2022-11-07 10:50:15,배고팡,5.19,카드,user_360
2,2023-04-18 05:00:57,2023-04-18 06:12:46,2023-04-18 05:32:53,배고팡,13.85,카드,user_36
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,배고팡,10.90,앱결제,user_65
4,2023-08-11 09:58:27,2023-08-11 11:27:57,2023-08-11 10:51:57,여기여,14.96,카드,user_176
...,...,...,...,...,...,...,...
995,2022-10-10 03:13:30,2022-10-10 04:13:48,2022-10-10 04:15:37,배고팡,1.79,현금,user_186
996,2023-02-03 12:47:19,2023-02-03 13:11:46,2023-02-03 13:12:57,배고팡,15.55,카드,user_239
997,2023-01-05 21:28:58,2023-01-05 21:57:41,2023-01-05 21:57:44,배고팡,8.33,현금,user_264
998,2023-06-15 03:56:42,2023-06-15 04:14:24,2023-06-15 04:18:38,여기여,8.20,앱결제,user_229
999,2023-08-02 20:53:53,2023-08-02 22:04:06,2023-08-02 22:09:22,여기여,5.33,카드,user_148

### Section23.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/delivery_time.csv")

# Section 23. 시간 간의 차이 계산(분), 비율

# 각 결제 종류별로 실제 도착 시간이 예상 도착 시간보다 늦은 주문의 비율을 계산하시오.

# 비율 중 가장 큰 값을 반올림하여 소수 둘째 자리까지 구하시오.

### Section24.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/delivery_time.csv")

# Section 24. 그룹핑, 값 찾기, 필터링

# 사용자별 주문 거리의 합계가 50km 이상인 사람들의 결제 방식을 구하시오.
# 이 결제 방식 중 가장 빈도가 높은 수를 구하시오.

### Section25.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/delivery_time.csv")

# Section 25. 시간 간의 차이 계산(일)
display(df)

# 각 사용자별로 첫 주문과 마지막 주문 사이의 시간 간격을 일 단위로 계산하시오. ## 깍두기
df['주문시간'] = pd.to_datetime(df['주문시간'])
min_order_time = df.groupby('user')['주문시간'].min()
max_order_time = df.groupby('user')['주문시간'].max()
answer = ((max_order_time) - (min_order_time)).dt.days
answer

# 한 번만 주문했거나, 같은 날 주문이 이루어진 사용자(시간 간격이 0일인 사용자)는 제외하고, 나머지 사용자들의 평균 시간 간격(일 단위)을 계산하시오. ## 깍두기
cond = answer>0
answer2 = answer[cond].mean()
answer2

# 평균 시간 간격보다 긴 시간 간격을 가진 사용자의 수를 정수로 구하시오. ## 도전
cond = answer > answer2
print(int(sum(cond)))

,주문시간,실제도착시간,예상도착시간,앱종류,거리,결제종류,user
0,2023-07-26 08:05:49,2023-07-26 09:14:06,2023-07-26 08:39:42,여기여,1.93,카드,user_275
1,2022-11-07 10:21:54,2022-11-07 10:44:04,2022-11-07 10:50:15,배고팡,5.19,카드,user_360
2,2023-04-18 05:00:57,2023-04-18 06:12:46,2023-04-18 05:32:53,배고팡,13.85,카드,user_36
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,배고팡,10.90,앱결제,user_65
4,2023-08-11 09:58:27,2023-08-11 11:27:57,2023-08-11 10:51:57,여기여,14.96,카드,user_176
...,...,...,...,...,...,...,...
995,2022-10-10 03:13:30,2022-10-10 04:13:48,2022-10-10 04:15:37,배고팡,1.79,현금,user_186
996,2023-02-03 12:47:19,2023-02-03 13:11:46,2023-02-03 13:12:57,배고팡,15.55,카드,user_239
997,2023-01-05 21:28:58,2023-01-05 21:57:41,2023-01-05 21:57:44,배고팡,8.33,현금,user_264
998,2023-06-15 03:56:42,2023-06-15 04:14:24,2023-06-15 04:18:38,여기여,8.20,앱결제,user_229
999,2023-08-02 20:53:53,2023-08-02 22:04:06,2023-08-02 22:09:22,여기여,5.33,카드,user_148

146

### Section26.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/delivery_time.csv")

# Section 26. 날짜와 시간정보 변환, 비율
df

# 주문이 가장 많이 발생한 연-월을 찾으시오. # 깍두기
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['주문월'] = df['주문시간'].dt.to_period('M')
year_month = df['주문월'].value_counts().idxmax()  ## 처음보는 코드 idxmax()
print(year_month)


# 해당 연-월에 '배고팡' 앱을 통한 주문 중 '앱결제'로 결제된 주문의 비율을 계산하시오. (반올림 후 소수 둘째 자리까지 계산)   # 깍두기
cond1 = (df['앱종류'] == '배고팡') & (df['주문월']== year_month)
cond2 = cond1 & (df['결제종류'] == '앱결제')
n1 = cond1.sum()
n2 = cond2.sum()

print(round(n2/n1,2))

2022-09
0.31

### Section27.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/delivery_time.csv")

# Section 27. 시간 범위, 속도(km/h)
df

# 점심시간(10시부터 13시 전까지)에 주문된 배달 데이터를 찾으시오.
df['주문시간'] = pd.to_datetime(df['주문시간'])
cond = (df['주문시간'].dt.hour >= 10) & (df['주문시간'].dt.hour < 13)
df[cond]

# 점심시간 주문 건 중 과속(평균 속도가 50km/h 이상)하는 주문 수를 정수로 구하시오.
# 배달시간 = 실제도착시간 - 주문시간
# 속도(km/h) = 거리(km) / 시간(h)
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['배달시간'] = df['실제도착시간'] - df['주문시간']
df['배달시간'] = df['배달시간'].dt.total_seconds()/60/60
df['속도'] = df['거리'] / df['배달시간']
cond = df['속도']>=50
print(int(cond.sum()))

12

### Section28.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/delivery_time.csv")

# Section 28. 날짜와 시간, 문자열
df

# 연도와 월을 기준으로 주문 수를 집계하시오.  ## 깍두기 (size 사용)
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['년월'] = df['주문시간'].dt.to_period('M')
count_month = df.groupby(['년월']).size()
count_month

# 가장 많은 주문이 있었던 연도와 월을 예시와 같은 형식으로 숫자로만 구하시오. (예: 2024년 2월인 경우 ‘202402’, 2024년 10월인 경우 ‘202410’) ## 깍두기 (idxmax해서 str 변환)
most_de = count_month.idxmax()

most_de = str(most_de)
most_de = most_de.replace('-','')
most_de

'202209'

### Section29.

In [31]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/delivery_time.csv")

# Section 29. 함수, 월별 집계
def delivery_fee(distance):
    if distance < 5:
        return 2000
    elif distance < 10:
        return 4000
    elif distance < 15:
        return 6000
    elif distance < 20:
        return 8000

# 배달료 계산 기준표에 따라 각 주문에 대한 배달료를 계산하시오. #깍두기
df['배달요금'] = df['거리'].apply(delivery_fee)

# 월별로 배달료의 총합을 집계하시오.
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['month'] = df['주문시간'].dt.month
df_new = df.groupby(['month'])['배달요금'].sum()
df_new

# 배달료가 가장 많이 발생한 월을 찾고, 그 월의 총 배달료를 정수로 구하시오.
df_new = df_new.sort_values(ascending=False)
print(int(df_new.iloc[0]))

448000

### Section30.

In [36]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/delivery_time.csv")

# Section 30. 주말, 평일 구분
df['주문시간'] = pd.to_datetime(df['주문시간'])

# 주말 주문 건수와 평일 주문 건수를 구하시오. # 깍두기 : 평일 주말 구분하기
df['dayofweek'] = df['주문시간'].dt.dayofweek
df['주말'] = df['dayofweek'] >= 5
a = df['주말'].sum()

# 주말 주문 건수와 평일 주문 건수의 차이를 절댓값으로 구하여 정수형으로 구하시오.
df['평일'] = df['dayofweek'] < 5
b = df['평일'].sum()
print(abs(a-b))

412

### Section31.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/delivery_time.csv")

# Section 31. 문자열, 형 변환
df

# 'user' 컬럼에서 user뒤에 있는 숫자 값만 추출하시오. # 깍두기 : 시리즈 슬라이싱 str
user_num = df['user'].str[5:]
user_num

# 추출된 숫자 값을 모두 합한 값을 정수로 구하시오.
user_num = user_num.astype('int')
print(sum(user_num))

261387

### Section32.

In [72]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/school_data.csv")

# Section 32. 합계(열 방향), 상위 값 선택
df

# 수학, 영어, 국어 점수의 합을 구하시오.
df['합'] = df['수학'] + df['영어'] + df['국어']
df

# 합이 가장 큰 상위 10명을 찾으시오.
df = df.sort_values('합', ascending=False)
df_rank = df.iloc[:10]

# 찾은 10명의 수학 평균 점수를 구하시오. (반올림 후 정수 출력)
ss = df_rank['수학'].sum()
print(int(round(ss/10)))

82

### Section33.

In [79]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/school_data.csv")

# Section 33. 데이터프레임 재구조화
df

# 과목에 상관없이 점수가 가장 작은 점수 25개를 찾으시오.
melted_df = df.melt(id_vars=['이름'], value_vars=['수학', '영어', '국어'])
melted_df

# 찾은 점수 25개의 합을 정수로 구하시오.
melted_df = melted_df.sort_values('value')
goal = melted_df.iloc[:25]
print(int(goal['value'].sum()))

420

### Section34.

In [ ]:
import pandas as pd
# school_data
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/school_data.csv")

# school_data_science
df_science = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/school_data_science.csv")

# Section 34. 데이터 합치기 (concat)

# school_data.csv와 school_data_science.csv의 학생 순서는 동일하다.
# 학생별로 수학, 영어, 국어, 과학 점수의 평균을 구하시오.
# 평균 점수가 60점 이상인 인원 수를 계산하시오.

### Section35.

In [ ]:
import pandas as pd
# school_data
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/school_data.csv")

# school_data_social
df_social = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/school_data_social.csv")

# Section 35. 데이터 합치기 (merge)

# school_data.csv와 school_data_social.csv 파일을 '이름'을 기준으로 합치시오.
# 영어교사가 장선생이면서 사회교사가 오선생인 학생들을 필터링하시오.
# 필터링된 학생들의 수학 점수를 모두 더한 후 정수로 구하시오.

### Section36.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/sales.csv")

# Section 36 조건별 변환 (transform)

# 결측된 판매금액은 해당 지역의 평균 판매금액으로 결측값을 대체하시오.
# 각 거래마다 “판매금액”과 해당 지역의 평균 판매금액의 "차이"를 절대값으로 구하시오.
# 각 지역에서 차이값의 평균을 구한 후, 이 값이 가장 큰 지역의 지역코드를 구하시오.

### Section37.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/store_sales.csv")

# Section 37. 재구조화 (unstack), 맵핑
df

# 각 행에서 판매수량과 단가를 이용하여 매출액을 계산하세요.
df['매출액'] = df['판매수량'] * df['단가']
df

# 요일을 평일과 주말로 구분하고, 매장별 평일과 주말 매출액 합계를 구하시오.     # 깍두기 : 요일 매핑하는 방법
day_mapping = {'월':'평일', '화':'평일', '수':'평일', '목':'평일', '금':'평일',
               '토':'주말', '일':'주말'}
df['요일구분'] = df['요일'].map(day_mapping)
df

# 매장별 평일과 주말 매출액 차이를 절대값으로 구하세요. 이후, 모든 매장 중 가장 큰 절대값 차이를 찾으시오.
df_new = df.groupby(['매장코드','요일구분'])['매출액'].sum().unstack()
df_new['차이'] = abs(df_new['주말']-df_new['평일'])
df_new = df_new.sort_values('차이',ascending=False)
print(df_new['차이'].iloc[0])

241975

### Section38.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/region_sales.csv")

# Section 38. 피벗테이블
df

# 각 Region과 Channel 조합별로 제품(Product) A, B의 총 판매액을 계산하시오.     # 깍두기 : 피벗 테이블 만들기
pt = pd.pivot_table(df, index=['Region', 'Channel'], columns='Product',
                            values='Sales', aggfunc='sum')
pt

# 제품 A의 매출 비율(A비율)을 구하세요. A비율 = (제품 A 판매액) ÷ (제품 A 판매액 + 제품 B 판매액)   # 깍두기 : 매출 비율 계산하기
pt['총 매출'] = pt['A'] + pt['B']
pt['A 비율'] = pt['A'] / pt['총 매출']
pt

# A비율 중 최댓값을 찾아 반올림하여 소수 둘째 자리까지 구하시오.
round(pt['A 비율'].max(),2)

np.float64(0.51)

### Section39.

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/monthly_sales.csv')

# Section 39. 재구조화(melt), 그룹핑
df

# 지역(Region)과 월(Jan, Feb, Mar)별 매출(Sales) 합계를 구하시오.   # 깍두기 : melt 함수 사용법, groupby 후 reset_index 넣기
df_new = pd.melt(df, id_vars='Region', value_vars=['Jan','Feb','Mar'], var_name='Month',value_name='Sales' )
df_sum = df_new.groupby(['Region','Month'])['Sales'].sum().reset_index()
df_sum

# 위에서 구한 결과 중, 매출 합계(Sales)가 1400을 초과하는 경우가 몇 건인지 구하시오.
cond = df_sum['Sales']>1400
print(cond.sum())

6