#### 【 공공데이터 분석 - 온도데이터 】
- 데이터 : 기상청 사이트

[1] 모듈 로딩 및 데이터 준비 <hr>

In [2]:
## 모듈 로딩
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib

In [3]:
## 데이터 준비
DATA_FILE = '../data/대구_온도_2000_20251109.csv'

daeguDF = pd.read_csv(DATA_FILE, skiprows=7)
daeguDF.head()

             날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  \t2020-01-01  143      0.2     -4.9      4.6
1  \t2020-01-02  143      3.4     -1.7      7.3
2  \t2020-01-03  143      3.6     -0.8      8.6
3  \t2020-01-04  143      2.7     -2.3      8.6
4  \t2020-01-05  143      2.2     -4.3     10.2

[2] 데이터 확인 <hr>

In [ ]:
## 요약 정보 확인
daeguDF.info()

## => 날짜컬럼 앞부분 '\t'공백 제거
## => 지점 컬럼 대구코드값 불필요한 컬럼 제거

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2140 entries, 0 to 2139
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       2140 non-null   object
 1   지점       2140 non-null   int64
 2   평균기온(℃)  2140 non-null   float64
 3   최저기온(℃)  2140 non-null   float64
 4   최고기온(℃)  2139 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 83.7+ KB

[3] 기본 전처리 => 불피요 컬럼과 데이터 삭제 <hr>

In [ ]:
## 지점 컬럼 대구코드값 불필요한 컬럼 제거  : drop(axis=1 또는 'columns')
#daeguDF.drop('지점', axis=1)
daeguDF = daeguDF.drop(columns='지점')

In [ ]:
## 날짜 컬럼에 앞에 붙은'\t'제거
daeguDF['날짜'].str

0       2020-01-01
1       2020-01-02
2       2020-01-03
3       2020-01-04
4       2020-01-05
           ...
2135    2025-11-05
2136    2025-11-06
2137    2025-11-07
2138    2025-11-08
2139    2025-11-09
Name: 날짜, Length: 2139, dtype: object