### 【 행인덱스 설정 】

### [ 행인덱스 설정 ] <hr>
- 메서드 : DataFrame.set_index()
- 컬럼 중에서 DF의 행인덱스로 설정하기

[1] 모듈 로딩 및 데이터 준비 <hr>

In [2]:
## 모듈 로딩
import pandas as pd

In [7]:
## 데이터 준비 및 데이터 프레임 생성
data = { "date": ["2025-10-20", "2025-10-21", "2025-10-21"],
         "city": ["Seoul", "Busan", "Seoul"],
         "value": [10, 20, 30]}

dataDF = pd.DataFrame(data)
display(dataDF)

         date   city  value
0  2025-10-20  Seoul     10
1  2025-10-21  Busan     20
2  2025-10-21  Seoul     30

[2] 컬럼 => 행인덱스 설정 <hr>

In [12]:
## date컬럼 ---> 행 인덱스로
dataDF2=dataDF.set_index(['date'])
display(dataDF2)

## 1개 행 선택 => 동일한 행인덱스 존재 ==> 2개 행 선택
dataDF2.loc['2025-10-21']

             city  value
date
2025-10-20  Seoul     10
2025-10-21  Busan     20
2025-10-21  Seoul     30

             city  value
date
2025-10-21  Busan     20
2025-10-21  Seoul     30

In [11]:
## date, city 컬럼 ---> 행 인덱스로
dataDF3 = dataDF.set_index(['date','city'])
display(dataDF3)

## 1개 행 선택
dataDF3.loc[('2025-10-21', 'Busan')]

                  value
date       city
2025-10-20 Seoul     10
2025-10-21 Busan     20
           Seoul     30

value    20
Name: (2025-10-21, Busan), dtype: int64

In [ ]:
## [3] 기존행인덱스 + date컬럼 ---> 멀티인덱스
dataDF2 = dataDF.set_index(['date'], append=True)
display(dataDF2)


print(dataDF2.index)

               city  value
  date
0 2025-10-20  Seoul     10
1 2025-10-21  Busan     20
2 2025-10-21  Seoul     30

MultiIndex([(0, '2025-10-20'),
            (1, '2025-10-21'),
            (2, '2025-10-21')],
           names=[None, 'date'])