## 판다스 20문제 D1113 (51~70)

### 51~60

In [4]:
# 판다스의 시리즈 클래스를 사용하기 위해 주로 사용하는 두 가지 방식으로 임포트해보세요.
import pandas as pd
from pandas import Series

In [6]:
# 다음 데이터를 시리즈로 객체로 생성해보세요.

# 점수
# 100
# 200
# 300

Series([100,200,300])

0    100
1    200
2    300
dtype: int64

In [7]:
# 시리즈의 생성 (인덱스 지정)
# 생성된 시리즈 객체에 인덱스를 추가해보세요.

# 인덱스	점수
# 철수	100
# 영희	200
# 아름	300
index = ['철수', '영희', '아름']
a = Series([100,200,300], index)
a

철수    100
영희    200
아름    300
dtype: int64

In [8]:
# 시리즈의 생성 (딕셔너리)
# 다음 데이터를 파이썬 딕셔너리로 표현해보세요. 딕셔너리의 key로 인덱스를 value로 점수 컬럼을 지정하세요. 생성된 딕셔너리를 사용하여 시리즈 객체를 생성해봅시다.

# 인덱스	점수
# 철수	100
# 영희	200
# 아름	300
data ={'철수':100, '영희':200, '아름':300}
Series(data)

철수    100
영희    200
아름    300
dtype: int64

In [10]:
# 시리즈 생성
# 다음은 네이버 금융에서 특정 거래일의 인기 종목과 해당 종목의 종가 데이터입니다. 종목명을 인덱스로 하여 종가를 데이터로 지정하여 시리즈 객체를 생성해봅시다.

# 종목명	종가
# 삼성전자	73000
# 셀트리온	356000
# 카카오	367000
# 삼성전자우	68600
# 현대바이오	34150
# 시리즈 인덱스
# 시리즈에 저장된 인덱스만을 출력해보세요.

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
print(s.index)

Index(['철수', '영희', '아름'], dtype='object')

In [11]:
# 시리즈 데이터
# 인덱스 없이 시리즈에 저장된 데이터만을 출력해보세요.

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
print(s.values)

[100 200 300]

In [12]:
# 시리즈와 딕셔너리
# 시리즈를 딕셔너리로 변경해 보세요.

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
# 실행 결과

# {'철수': 100, '영희': 200, '아름': 300}

print(s.to_dict())

{'철수': 100, '영희': 200, '아름': 300}

In [20]:
# 시리즈와 엑셀
# 시리즈를 엑셀 파일(data.xlsx)에 저장해 보세요.

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

s.to_excel('data.xlsx')

In [21]:
# 시리즈와 엑셀
# 엑셀 파일(data.xlsx)을 읽어 오세요.

# 실행 결과

# 철수    100
# 영희    200
# 아름    300
# Name: 0, dtype: int64

pd.read_excel('data.xlsx', index_col=0)[0]

철수    100
영희    200
아름    300
Name: 0, dtype: int64

### 61 ~ 70

In [24]:
# 시리즈 데이터 타입
# 시리즈의 데이터 타입을 출력해보세요.

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

s.dtype

dtype('int64')

In [25]:
# 시리즈 데이터
# 다음 시리즈의 데이터 타입은 무엇일까요?

data = [  10,  "가" ]
s = Series( data )

s.dtype

dtype('O')

In [26]:
# 시리즈 인덱스의 데이터 타입
# 시리즈에서 인덱스의 데이터 타입을 출력해보세요.

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

s.index.dtype

dtype('O')

In [27]:
# 시리즈 이름과 인덱스 이름
# 다음은 삼성전자의 종가 데이터입니다. 이를 시리즈 객체로 생성한 후 시리즈의 name 속성에 '종가'를 인덱스의 name 속성에 날짜를 설정해보세요.

# 날짜	         종가
# 2020-12-11	73400
# 2020-12-10	72900
# 2020-12-09	73900
# 2020-12-08	71700
# 2020-12-07	72900
data = {
    "2020-12-11": 73400,
    "2020-12-10": 72900,
    "2020-12-09": 73900,
    "2020-12-08": 71700,
    "2020-12-07": 72900
}

s = Series(data)
s.name = '종가'
s.index.name = '날짜'

In [ ]:
# to_dict
# 시리즈의 데이터 타입을 딕셔너리로 변환하세요.

import pandas as pd

data = {"apple": 1500, "banana": 3000}
s = pd.Series(data)
s = s.to_dict()

{'apple': 1500, 'banana': 3000}

In [31]:
# 인덱스 이름
# 다음 시리즈의 인덱스의 이름을 'icecream'으로 변경하세요.

import pandas as pd

data = {"apple": 1500, "banana": 3000}
s = pd.Series(data)
s.index.name = 'icecream'

In [32]:
# 시리즈 이름
# 다음 시리즈 객체의 이름을 'number'로 지정하세요.

import pandas as pd

s = pd.Series(data=[1, 2, 3])

s.name = 'number'

In [34]:
# NaN
# 다음 시리즈 객체를 생성하세요.
import numpy as np

# 0    1.0
# 1    2.0
# 2    NaN
# dtype: float64

data = [[0,1,2],[1.0,2.0,'NaN']]

s = pd.Series([1.0, 2.0, np.nan])
s

0    1.0
1    2.0
2    NaN
dtype: float64

In [35]:
# Index.to_numpy
# 다음 시리즈 객체의 인덱스를 넘파이 배열로 변경하세요.

import pandas as pd

s = pd.Series([1, 2, 3])
s.index.to_numpy()

array([0, 1, 2])

In [36]:
# Series.array
# 다음 시리즈 객체의 array 속성을 사용해보세요.

import pandas as pd

s = pd.Series([1, 2, 3])

s.array

<NumpyExtensionArray>
[1, 2, 3]
Length: 3, dtype: int64

## 자동차 프로젝트 데이터

INSERT INTO ev_cost_i5
(년도, 모델명, 차급, 전비_km_per_kWh, 연간주행거리_km, 연도별_에너지단가_원_per_kWh,
 연간전력사용량_kWh, 연료비_1년_원, 보험료_26세이상_1년_원, 세금_1년_원, 유지보수_1년_원,
 총유지비_1년_원, 총유지비_5년_원)
VALUES
-- 2019
(2019, 'BMW i5', '대형', 5.00, 13000, 159.0, 2600, 413400, 2646000, 130000, 400000, 3589400, 17947000),
-- 2020
(2020, 'BMW i5', '대형', 5.00, 13000, 190.8, 2600, 496080, 2583000, 130000, 400000, 3609080, 18045400),
-- 2021
(2021, 'BMW i5', '대형', 5.00, 13000, 254.4, 2600, 661440, 2457000, 130000, 400000, 3648440, 18242200),
-- 2022
(2022, 'BMW i5', '대형', 5.00, 13000, 302.1, 2600, 785460, 2331000, 130000, 400000, 3646460, 18232300),
-- 2023
(2023, 'BMW i5', '대형', 5.00, 13000, 318.0, 2600, 826800, 2142000, 130000, 400000, 3498800, 17494000),
-- 2024
(2024, 'BMW i5', '대형', 5.00, 13000, 318.0, 2600, 826800, 2079000, 130000, 400000, 3435800, 17179000);

-- 확인
SELECT * FROM ev_cost_i5 ORDER BY 년도;