### 1110_과제_이준기

1. 지구온난화 추세 (대구 + 다른 지역)

In [ ]:
## 모듈 로딩
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib

In [2]:
## 데이터 준비
DATA_FILE = '../data/대구_온도_2000_20251109.csv'

daeguDF = pd.read_csv(DATA_FILE, skiprows=7)
daeguDF.head()

             날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  \t2000-01-01  143      4.7      0.0      8.5
1  \t2000-01-02  143      6.5      3.1     11.5
2  \t2000-01-03  143      2.9      0.0      6.8
3  \t2000-01-04  143      2.3     -2.4      7.5
4  \t2000-01-05  143      4.9     -0.9      9.4

In [4]:
pd.read_csv(r'C:\Users\KDT\Desktop\KDT_10SL\EX_DATA_ANALYSYS\data\암거나.csv', skiprows=7)

                  ¥        ձ  (  )        (  )  ְ   (  )
0      \t1925-11-09  143       9.9         3.0      16.0
1      \t1925-11-10  143       9.8         8.6      11.2
2      \t1925-11-11  143      11.8         9.5      15.3
3      \t1925-11-12  143       8.4         6.2      10.2
4      \t1925-11-13  143       7.8         4.0      14.7
...             ...  ...       ...         ...       ...
36521  \t2025-11-05  143      11.8         5.4      20.2
36522  \t2025-11-06  143      12.8         6.7      21.2
36523  \t2025-11-07  143      13.1         7.7      20.6
36524  \t2025-11-08  143      12.9         7.8      18.3
36525  \t2025-11-09  143      14.6        11.1      19.3

[36526 rows x 5 columns]