### 1110_과제_이준기

1. 지구온난화 추세 (대구 + 다른 지역)

In [4]:
## 모듈 로딩
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib

In [7]:
## 데이터 준비
DATA_FILE = '../data/대구 100년.csv'

daeguDF = pd.read_csv(DATA_FILE, skiprows=7)
daeguDF.head()

             날짜     지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  \t1925-11-09  143.0      9.9      3.0     16.0
1  \t1925-11-10  143.0      9.8      8.6     11.2
2  \t1925-11-11  143.0     11.8      9.5     15.3
3  \t1925-11-12  143.0      8.4      6.2     10.2
4  \t1925-11-13  143.0      7.8      4.0     14.7