### 1110_과제_이준기

1. 지구온난화 추세 (대구 + 다른 지역)

In [4]:
## 모듈 로딩
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib

In [7]:
## 데이터 준비
DATA_FILE = '../data/대구 100년.csv'

daeguDF = pd.read_csv(DATA_FILE, skiprows=7)
daeguDF.head()

             날짜     지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  \t1925-11-09  143.0      9.9      3.0     16.0
1  \t1925-11-10  143.0      9.8      8.6     11.2
2  \t1925-11-11  143.0     11.8      9.5     15.3
3  \t1925-11-12  143.0      8.4      6.2     10.2
4  \t1925-11-13  143.0      7.8      4.0     14.7

In [8]:
# 데이터 전처리
daeguDF = daeguDF.drop('지점', axis=1)
daeguDF['날짜'] = daeguDF['날짜'].str.strip()
daeguDF

               날짜  평균기온(℃)  최저기온(℃)  최고기온(℃)
0      1925-11-09      9.9      3.0     16.0
1      1925-11-10      9.8      8.6     11.2
2      1925-11-11     11.8      9.5     15.3
3      1925-11-12      8.4      6.2     10.2
4      1925-11-13      7.8      4.0     14.7
...           ...      ...      ...      ...
36522  2025-11-06     12.8      6.7     21.2
36523  2025-11-07     13.1      7.7     20.6
36524  2025-11-08     12.9      7.8     18.3
36525  2025-11-09     14.6     11.1     19.3
36526                  NaN      NaN      NaN

[36527 rows x 4 columns]

In [ ]:
daeguDF.isnull().sum()

날짜         0
평균기온(℃)    2
최저기온(℃)    3
최고기온(℃)    5
dtype: int64